<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>ARÔME DOUX</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>


<div id="contenedor"> 
    <header>
      <a href="index.html"><img src="images/logo.png"></a>
      <div id="redes">
        <a href="http://www.facebook.com"><img src="images/face.png"></a>
        <a href="http://www.instagram.com"><img src="images/instagram.png"></a>
        <a href="http://www.youtube.com"><img src="images/youtube.png"></a>
      </div>
    </header>


<body style="background-color: #F8E0F1; background-image: url('imagen/liz.png');"> 

<div  style="margin: 0 20% 2% 20%">

      <div id="header">

          <ul class="nav">
            <li><a href="">Inicio</a></li>
            <li><a href="">Productos</a>
              <ul>
                <li><a href="">Perfumes Mujer</a></li>
                <li><a href="">Perfumes Hombre</a></li>
                <li><a href="">Ropa Mujer</a></li>
                <li><a href="">Ropa Hombre</a></li>
              </ul>
            </li>
            <li><a href="">Quienes somos</a>
              <ul>
                <li><a href="">Misión</a></li>
                <li><a href="">Visión</a></li>
                <li><a href="">Historia</a></li>
              </ul>
            </li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Servicios</a>
          </ul>
    </div>
  <br><br><br><br>
       <center> 
              <h1>
                   <span style="color: #F0000; font-family: algerian, ariak, dark comic;">TU AROMA</span>
            	     <span style="color: #000000;"></span>
            	</h1>
            	<h3 style="font-size: 20px; color: #F0000">Replicas Americanas <strong></strong></h3>
        </center>
  
	         <div style="text-align: center;">
	             <img src="http://www.muradeal.com/media/wysiwyg/porto/homepage/slider/17/Fragrances.png" width= "60%">
            </div>

              <ul>
                  <li><a href="#Somos" style="color:  #FE642E;">SOMOS</a></li>
                     <li>Aromas Dama</li>
                     <li>Aromas Hombre</li>
                     <li>Galeria</li>
                     <li>Informacion</li>
               </ul>
 
            <h2>SOMOS </h2>

    <p style="text-align: justify; color: #000">
          
   Tu aroma es una pagina creada y inspirada en dar a conocer los diferentes aromas que a diario usamos como eleccion para cada ocasion, las caracteristicas de diferentes perfumes tanto para mujer como para hombre hacen que nos enfoquemos en buscar mejores esencias. 
   
   </p>    

             
      <h2>Aromas Dama </h2>

    	<p style="text-align: justify; color: #000">
        
        Fragancias de la familia olfativ para mujeres , dime que perfume usas y te dire quien eres . el mundo de las fragancias es tan amplio que existe una para cada tipo de muje. femenina,sensual o dinamica y para cada momento del dia.
        su eleccion esta guiada por el olfato, el sentido que utilizamos para decidir si nos gusta o no, por este motivo es que cada aroma dice mucho de nosotras mismas.ademas el color y tipo de piel, tambien influye. no es lo mismo utilizar un perfume de pieles grasas que en secas, normales o sensibles.

          </p>
     
      <h2>Aromas Hombre </h2>

      <p style="text-align: justify; color: #000">

      Las características diferentes de los perfumes masculinos y la amplísima oferta complican la elección. Pero no todas las fragancias son iguales ni para igual ocasión.Las características diferentes de los perfumes para hombres provocan que en ocasiones sea complicado decidirse ante una oferta de cientos de aromas. No todas las fragancias son iguales ni encajan de la misma forma en cualquier circunstancia. Es como el vestir: a nadie se le ocurriría ir con traje, corbata y mocasines a una sesión del Primavera Sound ni llevaría un atuendo rapero a una reunión del consejo de administración de una empresa. La gracia de los perfumes estriba, precisamente, en su capacidad de personalizar y dejar un recuerdo etéreo del portador
           
      </p>

       <h2>Galeria</h2>
      <p style="text-align: justify; color: #FFFFFF"></p>
              
            <h2>Informacion</h2> 
              <p style="text-align: justify; color: #000">
                 
              Lizeth Arias
              Cel :3154377643

        </p>

      <p>
      	<em><span style="background-color: #000; color: #01DF01;"> Esta información fue 
      	tomada de</span> <a href="https://es.lipsum.com/" target="_blank">Lorem Ipsum</a></em>
      </p>      
     <div id="foot">
        
        <div class="cajasfoot">contactenos</div>
        <div class="cajasfoot">servicios</div>
        <div class="cajasfoot">redes sociales</div>
    </div>

      
 </div>

</body>
</html>
<!--
CSS
Style sheet cascading
Forma 1: Directamente en la etiqueta
-->



         
