<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>LISTA DE PRECIOS PERFUMES</title>
    <style type="text/css"> 
       h1{color: #330000;text-align: center;}
       body{background-color: #FAFAFA;}
       table{background-color: #F8E0F7; width: 600px; margin: 0 auto;}
       th{text-align: left; font-size: 20px;}
       thead{background-color: #F8E0E0;}
       #container{
            	padding: 0 10px 10px 10px;
            }
</style>
  </head>
  <body>
             <h2>Mision </h2>

    <p style="text-align: justify; color: #000">
          
   Tu aroma es una pagina creada y inspirada en dar a conocer los diferentes aromas que a diario usamos como eleccion para cada ocasion, las caracteristicas de diferentes perfumes tanto para mujer como para hombre hacen que nos enfoquemos en buscar mejores esencias. 
   
   </p>    

  		</tbody>
  	</table>
  </div>
  </body>
  </html>
</html>
s