<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>LISTA DE PRECIOS PERFUMES</title>
    <style type="text/css"> 
       h1{color: #330000;text-align: center;}
       body{background-color: #FAFAFA;}
       table{background-color: #F8E0F7; width: 600px; margin: 0 auto;}
       th{text-align: left; font-size: 20px;}
       thead{background-color: #F8E0E0;}
       #container{
            	padding: 0 10px 10px 10px;
            }
</style>
  </head>
  <body>
    <div id="container"> 
  	<h1>LISTA DE PRECIOS PERFUMES</h1>
  	<table>
  		<thead>
  			<th>Item</th>
  			<th>Casa</th>
  			<th>Perfume Dama</th>
                        <th>Perfume Hombre</th>
  			<th>Precio</th>
  		</thead>
  		<tbody>
  			<tr>
  			  <td>1</td>
  			  <td>Bvlgary</td>
  			  <td>Aqva Divina Mario</td>
  			  <td>Aqva Pour Homme </td>
                          <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>2</td>
  			  <td>Burberry</td>
  			  <td>Burberry London</td>
                          <td>Mr. Burberry </td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>3</td>
  			  <td>Carolina Herrera</td>
  			  <td>212 Carolina Herrera</td>
                          <td>carolina </td>     
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>4</td>
  			  <td>Chanel</td>
  			  <td>Chanel # 5</td>
                          <td>Chanel</td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>5</td>
  			  <td>Cristian Dior</td>
  			  <td>Diore</td
                          <td>Diore</td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>6</td>
  			  <td>Donna Karan (DKNY)</td>
  			  <td>Be Delicious</td>
                          <td>Donna </td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>7</td>
  			  <td>DOlce & Gabana</td>
  			  <td>Light Blue DOlce & Gabbana</td>
                          <td>dolce </td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>8</td>
  			  <td>Inspiracion</td>
  			  <td>360 Perry Elis</td>
                          <td>perry elis</td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>9</td>
  			  <td>Tommy</td>
  			  <td>Tommy Girl Tropics</td>
                          <td>tommy</td>
  			  <td>$45.000</td>
  			</tr>
  			<tr>
  			  <td>10</td>
  			  <td>Versace</td>
  			  <td>Versus</td>
                          <td>versus</td>
  			  <td>$45.000</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
  </body>
  </html>
</html>
