<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>LISTA DE PRECIOS PERFUMES</title>
    <style type="text/css"> 
       h1{color: #330000;text-align: center;}
       body{background-color: #FAFAFA;}
       table{background-color: #F8E0F7; width: 600px; margin: 0 auto;}
       th{text-align: left; font-size: 20px;}
       thead{background-color: #F8E0E0;}
       #container{
            	padding: 0 10px 10px 10px;
            }
</style>
  </head>
  <body>
             <h2>Vision </h2>

    <p style="text-align: justify; color: #000">
          
   djgjsdgbjdgbjdgbfbsjgkbdsgkljb
   
   </p>    

  		</tbody>
  	</table>
  </div>
  </body>
  </html>
</html>
